.App {
  text-align: center;
  background-color: #282c34 !important;
}

body{
  background-color: #282c34;
  font-family: 'Ubuntu';
}

.App-logo {
  height: 40vmin;
  margin-left: auto;
  margin-right: auto;
}

.componentNavigation{
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Profile-Grid-Infos {
  padding-bottom: 20px;
  display : flex;
}

.Profile-Grid-Infos-Item {
  font-weight: bold;
  font-size: 25px;
}

.Profile-Grid-Infos-Details{
  color: grey
}

/* Progress bar */
.Legend-Competences{
  display: flex !important;
  flex-direction: row !important;
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
}
.Legend-Competences-Details{
  margin-left:auto !important;
  margin-right:auto !important;
}
.Competences
{
  /* position:relative; */
  /* width:70%; */
  display:flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.Competences .card
{
  position:relative;
  width:250px;
  margin: 30px;
  background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}
.Competences .card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}
.Competences .card:before
{
  content:'';
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.03);
  pointer-events:none;
  z-index:1;
}
.Competences .percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  background:#222;
  z-index:1000;
}
.Competences .percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.Competences .percent .num h2
{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.Competences .card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.competences .percent .num h2 span
{
  color:#777;
  font-size:24px;
  transition:0.5s;
}
.Competences .card:hover .percent .num h2 span
{
  color:#fff;
}
.Competences .text
{
  position:relative;
  color:#777;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.Competences .card:hover .text
{
  color:#fff;
}
.Competences svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}
.Competences svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#1919194b;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
.Competences svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
