.AppBar {
  text-align: center;
  background-color: #282c34 !important;
  position:relative;
}

#menu-appbar .MuiPaper-root{
  background-color: #373d49 !important;
  top: 8% !important;
  left: 25% !important;
  width: 50vw;
}

#menu-appbar .MuiPaper-root a{
  color: white !important;
  text-decoration: none;
  margin-left: auto;
  padding: 0 !important;
  margin-right: auto;
  font-size: 3vw;
}
#menu-appbar .MuiPaper-root .MuiMenuItem-root{
  padding: 0 !important;
}

.AppBar .ReduceScreen{
  display: none;
}

body{
  background-color: #282c34;
  font-family: 'Ubuntu';
}

.App-logo {
  height: 100%;
  width: 110%;
  margin-left: auto;
  margin-right: auto;
  border-Radius: 15px;
}

.AppBar-ComponentNavigation{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Page-Top-Title{
  text-Align: center;
  margin-Top: 5vw
}

.Profile-Card{
  width: 45vw;
  margin-Left: auto;
  margin-Right: auto;
  box-Shadow: 0 0 10px 5px #89dcfa !important;
}

.Profile-Grid-Separation{
  text-Align: left;
  padding-Left: 3vw !important;
}

.Profile-Grid-Name{
  padding-Bottom: .5vw;
  font-Size : 2.5vw;
  padding-Top: .9vw;
}

.Profile-Grid-Age{
  font-Size: .9vw;
}

.Profile-Grid-Poste{
  padding-Bottom: .8vw;
  font-Size : .75vw;
  font-Style: italic;
}

.Profile-Grid-Infos {
  padding-bottom: 1vw;
  display : flex;
}

.Profile-Grid-Icons{
  width: 1vw !important;
  height: 1vw !important;
}

.Profile-Grid-Infos-Item {
  font-weight: bold;
  font-size: .8vw;
}

.Profile-Grid-Infos-Details{
  color: grey;
  font-size: 1vw;
}

.Profile-Download-Button{
  margin-Right: auto !important;
  margin-Left: auto !important;
  background-Color: #e04136 !important;
  font-Size : 1vw !important;
}

/* Traductions */
.Traduction-Icons{
  cursor: pointer;
  justify-content: space-between;
}

.Traduction-Icons:hover{
  cursor: pointer;
  width: 100%;
}

/* Realisations */
.Realisation-Details{
  margin-left: auto !important;
  margin-right: auto !important;
  position:relative;
  width:400px;
  margin: 30px;
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  margin-top: 20px !important;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}

/* Progress bar */
.Legend-Competences{
  display: flex !important;
  flex-direction: row !important;
  font-style: italic;
  font-size: 25px;
  justify-content: flex-start;
  width: 100%;
}
.Legend-Competences-Details{
  margin-right:auto !important;
  margin-left:auto !important;
}
.Competences
{
  /* position:relative; */
  /* width:70%; */
  display:flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.Competences .card
{
  position:relative;
  width: 250px;
  margin-right: 30px;
  margin-bottom: 30px;
  background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}
.Competences .card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}
.Competences .card:before
{
  content:'';
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.03);
  pointer-events:none;
  z-index:1;
}
.Competences .percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  background:#222;
  z-index:1000;
}
.Competences .percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.Competences .percent .num h2
{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.Competences .card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.competences .percent .num h2 span
{
  color:#777;
  font-size:24px;
  transition:0.5s;
}
.Competences .card:hover .percent .num h2 span
{
  color:#fff;
}
.Competences .text
{
  position:relative;
  color:#777;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.Competences .card:hover .text
{
  color:#fff;
}
.Competences svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}

.Competences .full{
  display: block;
}
.Competences .reduce{
  display: none;
}
.Competences svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#1919194b;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
.Competences svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}


/* Responsive part -- END*/
@media screen and (max-width: 900px) {
  .Profile-Card{
    width: 90vw;
  }
  .Profile-Grid-Name{
    font-size: 5vw;
  }
  .Profile-Grid-Age{
    font-size: 1.8vw;
  }
  .Profile-Grid-Poste{
    font-size: 1.5vw;
  }
  .Profile-Grid-Infos-Item{
    font-size: 1.6vw;
  }
  .Profile-Grid-Infos-Details{
    font-size: 2vw;
  }
  .Profile-Download-Button{
    font-size: 2vw !important;
  }
  .Profile-Grid-Icons{
    width: 2vw !important;
    height: 2vw !important;
  }
  .Profile-Grid-Separation{
    padding-Left: 5vw !important;
  }
  .App-logo{
    height: 100%;
    width: 100%;
  }
  .AppBar .ReduceScreen{
    display: flex;
  }
  .AppBar .FullScreen{
    display: none;
  }
  .AppBar-ComponentNavigation{
    font-size: 3vw;
  }
  .AppBar-Titles{
    display: none !important;
  }
  .AppBar-Box-Item{
    margin-right: 2vw !important;
    margin-left: 2vw !important;
  }
  .Page-Top-Title{
    margin-Top: 10vw
  }
  .Legend-Competences-Details{
    font-size: 12px;
  }
  .Competences .card{
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .Competences .percent{
    width: 100px;
    height: 100px;
  }
  .Competences .reduce{
    display: block;
  }
  .Competences .full{
    display: none;
  }
}