.App {
  text-align: center;
  background-color: #282c34 !important;
}

body{
  background-color: #282c34;
  font-family: 'Ubuntu';
}

.App-logo {
  height: 40vmin;
  margin-left: auto;
  margin-right: auto;
}

.componentNavigation{
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Profile-Grid-Infos {
  padding-bottom: 20px;
  display : flex;
}

.Profile-Grid-Infos-Item {
  font-weight: bold;
  font-size: 25px;
}

.Profile-Grid-Infos-Details{
  color: grey
}
